#bg {
  position: relative;
  width: 800px;
  height: 500px;
  margin: 0 auto;
  background: url("/images/bg.png") no-repeat;
  background-size: cover;
}

#hero {
  position: absolute;
  bottom: 0px;
  left: 50%;
  margin-left: 7px;
  width: 35px;
  height: 54px;
  background: url("/images/hero.png") no-repeat;
  /*
  width: 35px;
  height: 33px;
  background: url("/images/image_sprite.png") no-repeat; 
  */
  display: inline-block;
}

#hero.up {
  background-position: -35px 0px;
}

#hero.down {
  background-position: 0px 0px;
}

#hero.right {
  background-position: -70px 0px;
}

#hero.left {
  background-position: -105px 0px;
}

body {
  font-size: 30px;
}

button {
  width: 100%;
  padding: 20px;
  margin: 20px auto;
  background-color: #77af9c;
  color: #d7fff1;
  border: 0px;
  border-radius: 20px;
  font-size: 30px;
}

table {
  width: 800px;
  border-spacing: 20px;
  text-align: center;
}

header {
  font-weight: bold;
}

.header__item {
  width: 800px;
  margin: auto;
}

.header__item--introduction {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.header__item--informations {
  display: flex;
  justify-content: space-around;
  flex-direction: row;
  align-items: center;
  margin: 20px;
}

.container-main {
  width: 800px;
  margin: auto;
}

.container-result {
  width: 800px;
  margin: auto;
}

.container-result__item {
  display: flex;
  flex-direction: column;
  align-items: center;
}
